/* 設定全局樣式 */
body {
    font-family: Copperplate, fantasy;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d4cfb8;
}
/* 標題樣式 */
h1, h2, h3 {
    color: #333; /* 保持標題顏色為深灰色 */
}

/* 網頁內容容器 */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* 導航欄樣式 */
nav {
    background: #d4cfb8; /* 米色背景 */
    color: #000000; /* 黑色字體 */
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo 和網站名稱 */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; /* 確保logo大小合適 */
    height: 40px;
    margin-right: 10px;
    margin-left: 0; /* 將logo貼齊左邊 */
}

.site-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #000; /* 黑色字體 */
    font-family: Garamond; /* 設定字體為Garamond */
}

/* 導航連結樣式 */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff; /* 白色字體 */
    text-decoration: none;
    background: #d4cfb8; /* 米色背景 */
    padding: 10px 15px; /* 增加內邊距，讓其像按鈕 */
    transition: background 0.3s, transform 0.3s; /* 增加動態效果 */
}

/* 鼠標滑過效果 */
nav ul li a:hover {
    background: #c3b9a1; /* 鼠標滑過時改變背景顏色 */
    transform: translateY(-2px); /* 上移2像素以營造動態感 */
}

/* 主要內容區域 */
.main {
    background: #ffffff; /* 白色背景 */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /* 黑色字體 */
    font-family: Garamond; /* 設定字體為Garamond */
}

/* 頁腳樣式 */
footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    margin-top: 20px;
}
